*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
@font-face{
    font-family: 'Montserrat';
    src: url(/TAREA_1/FONTS/Montserrat-VariableFont_wght.ttf);
    font-variant: normal;
    
}
ul
{
    list-style: none;
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:Montserrat, Helvetica, sans-serif;
    
}

.nav-menu-logo{
    padding-left: 30px;
    
}


.nav-menu li{
    alt: 80px;
}
.nav-menu li a{
    color: #191919;
    font-size: 18px;
    text-decoration: none;
    padding: 40px 25px;
    padding-right: 40px;
    display: block;
}

 
.nav-menu .sub-menu{
    padding: 25px 0px;
    background-color: #2196F3;
    
}

.nav-menu > li {
    float: left;
}
.nav-menu li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.nav-menu li:hover > ul{
    display: block;
    background-color: #2196F3;
    
}
.nav-menu li ul a:hover
{
    box-shadow: #191919;
}
.nav-menu li:hover > ul a{
    color: #FFFFFF80;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px 10px;
}








.Banner{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    margin: auto;
    padding-bottom: 20px;
}
.Banner img {
    width: 100%;
}

.titulos{
    font-family:Montserrat, Helvetica, sans-serif;
    text-align: center;
    font-size: 3.2142857143rem;
    line-height: 1.5111111111em;
    font-weight: 300;
    margin: 0px 0px 22.5px;
    padding: 16.189px;
}
.ul-sections{
    display: flex;
    justify-content: center;
}
.ul-sections li a{
    margin: 0px 61.5041px 0px 61.4939px;
}
footer{
    background-color: #043257;
}
.Sistema-Educativo-Madero #UMAD-Online{
    max-width: 5%;
}
.Sistema-Educativo-Madero img{
    width: 100vw;
    max-width: 10%;
}

